<!-- modify this form HTML and place wherever you want your form -->

<form
  action="https://formspree.io/mjvaazbk"
  method="POST"
>

<!--
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
	<input type="hidden" name="_subject" value="New submission!" />
	</label>
	
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

   your other form fields go here 

  <button type="submit">Send</button> -->
  
  <input type="email" name="email" placeholder="Your email">
  <input type="text" name="name" placeholder="Your name">
  <textarea name="message" placeholder="Your message" rows="3">
  </textarea>
  <button type="submit">Send Message</button>
  
</form>
